body {
    background-image: url(images/bg-girassol2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 500px;
    background-position: top; 
    background-color: hsl(42, 98%, 67%)
    }
    
h1 {
  border: 5px double black;
  font-size: 65px;
  text-align: center;
}
p { 
  text-align: center;
  font-size: 25px;
  color; #120a01;
}
.font-ar {
  font-family: "Playwrite GB S", cursive;
}
.p-aragrafo {
  font-family: "Playwrite GB S", cursive;
  font-size: 50px;
  text-align: center;
  color: rgb(23, 22, 4)
}
  .meu-botao {
    display: inline-block; /* Faz o link parecer um botão */
    background-color: rgb(209, 177, 19);
    color: black;
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 30px;
    font-size: 25px;
    transition: background-color 0.3s;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border: 2px solid #120a01;
    text-align: center;
  }
  .meu-botao:hover {
    background-color: #97671b;
  }
  .botao-container {
    display: flex; /* Habilita o uso do Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Adiciona um espaçamento ao redor do contêiner */
    gap: 15px; /* Espaçamento entre os botões (ajuste o valor conforme necessário) */
  }
